.zm-container{
    width: 1200px;
    padding: 10px;
}
.content-box1 {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #278ADD;
}
.zm-container ul{
    overflow: hidden;

}
.zm-container ul li{
    width: 550px;
    padding: 10px;
    float: left;
    line-height: 25px;

    margin: 10px 20px;
    background: #f0f1f2;
}
.zm-container ul li div{
    overflow: hidden;
}
/*.zm-container ul li label{*/
    /*width: 100px;*/
    /*text-align: right;*/
/*}*/
.zm-container ul li div>span{
    float: left;
    color: #278ADD;
}
.zm-container ul li div>p{
    float: right;
}
.zm-container ul li p span{
    color: #278ADD;
}
.zm-container ul li p{
    overflow: hidden;
}
.zm-container ul li p.desc{
    height: 50px;
    overflow: hidden;
}
.zm-container ul li b{
    float: left;
    color: #FF0700;
}
.connect{
    text-align: right;
    padding-right: 4px;
    box-sizing: border-box;
    float: right;
    width: 98px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #666;
    font-size: 12px;
    border: 1px solid #666;
    background: url(../images/demo_list.png) no-repeat -2px -245px;
}

.pager{
    text-align: center;
}
.pager a{
    display: inline-block;
    width: 65px;
    height: 30px;
    border: 1px solid #999797;
    border-radius: 5px;
    color: #4d4d4d;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}
.pager a.curr{
    background: #3c83c5;
    color: #fff;
}